.container-projeto {
    position: relative;
}

.container-btn-projeto {
    display: flex;
    justify-content: flex-end;
}

.container-btn {
    display: flex;
    justify-content: flex-end;

    padding: 20px 50px 0 0;
}

.btn-register-projeto {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65px;
    height: 65px;

    border-radius: 50%;
    color: white;
    font-size: 30px;

    background-color: #2FD89B;
    border: 1px solid rgba(128, 128, 128, 0.66);
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 2px 0px 1px rgba(0, 0, 0, 0.918);
    -moz-box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.75);

    cursor: pointer;
}

.btn-register-projeto img {
    width: 50%;
}

main {
    display: flex;
    gap: 20px;

    padding: 0 20px;
}